.modal-header {
    background-color: #784384;
  }
  
  .modal-body {
    background-color: white !important;
  }
  
  .modal-footer {
    background-color: #784384;
  }

  .modal-title {
      color: white;
  }