  .fontStyle {
      font-family: 'Nosifer', sans-serif;
  }

  .myButton {
      width: 40px;
      height: 40px;
      color: black;
      margin-right: 5px;
      margin-bottom: 2px;
      margin-top: 5px;
  }

  .flip-card {
    width: 300px;
    height: 420px;
    perspective: 1000px; 
    border-radius:10px;
    transition:0.5s;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow:0 30px 70px rgba(0,0,0,.4);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px;
    transition:0.5s;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    font-family: 'Cantora One', sans-serif;
  }

  .search-sec{
      padding: 2rem;
  }

  .search-slt{
      display: block;
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #55595c;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      height: calc(3rem + 2px) !important;
      border-radius:0;
  }

  .wrn-btn{
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
      height: calc(3rem + 2px) !important;
      border-radius:0;
  }

  @media (min-width: 992px){
      .search-sec{
        position: relative;
        top: -114px;
        background: rgba(0, 0, 0, 0.5);
      }
  }

  @media (max-width: 992px){
      .search-sec{
        background: rgba(0, 0, 0, 0.5);
      }
  }
  
  .select {
    top: auto;
    bottom: 100%;
  }

  .bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('src/assets/back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 