<!DOCTYPE html>
<html>

<body class="container-fluid" style="margin-top: 5%;">
    <select (change)="selectFood($event.target.value)">
      <option selected value="everything">Choose food</option>
      <option *ngFor="let food of this.uniqueFood" value="{{food}}">{{food}}</option>
    </select>
  </div>

  <div id="startBeers">
    <div class="row" *ngIf="this.myBeer">
      <div *ngFor="let beer of myBeer; let i = index" class="col-md-3">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{{ beer.image_url }}" alt="Beer" style="height: 100px">
                  <h5 class="fontStyle">{{ beer.name }}</h5>
                </div>
                <div class="flip-card-back">
                    <div class="fontStyle text-center"><p style="margin: 0;">Hops:</p>
                      <p *ngFor="let hop of beer.ingredients.hops" style="font-size: 10px; margin: 0;">
                          {{ hop.name }} {{ hop.amount.unit }} {{ hop.amount.value }} {{ hop.attribute }} {{ hop.add }}
                      </p>
                    </div>
                    <div class="fontStyle text-center"><p style="margin: 0;">Malt:</p>
                      <p *ngFor="let malt of beer.ingredients.malt" style="font-size: 10px; margin: 0;">
                          {{ malt.name }} {{ malt.amount.unit }} {{ malt.amount.value }}
                      </p>
                    </div>
                </div>
              </div>
            </div> 
      </div>
    </div>
  </div>
    

  <div id="selectFood">
    <div *ngIf="isSelectFood" >
      <div class="row" *ngIf="this.matchingBeer">
        <div *ngFor="let beer of matchingBeer; let i = index" class="col-md-3">
            <div class="flip-card" style="height: 400px">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="{{ beer.image_url }}" alt="Beer" style="height: 100px">
                    <h5 class="fontStyle">{{ beer.name }}</h5>
                  </div>
                  <div class="flip-card-back">
                      <div class="fontStyle text-center"><p style="margin: 0;">Hops:</p>
                        <p *ngFor="let hop of beer.ingredients.hops" style="font-size: 10px; margin: 0;">
                            {{ hop.name }} {{ hop.amount.unit }} {{ hop.amount.value }} {{ hop.attribute }} {{ hop.add }}
                        </p>
                      </div>
                      <div class="fontStyle text-center"><p style="margin: 0;">Malt:</p>
                        <p *ngFor="let malt of beer.ingredients.malt" style="font-size: 10px; margin: 0;">
                            {{ malt.name }} {{ malt.amount.unit }} {{ malt.amount.value }}
                        </p>
                      </div>
                  </div>
                </div>
              </div> 
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let number of pageNumbers">
    <div class="btn myButton" (click)="getBeersOfPage(number)" type="button"><p>{{number}}</p></div>
  </ng-container>
  

</body>
</html>
