<!DOCTYPE html>
<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='http://fonts.googleapis.com/css?family=Nosifer&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cantora+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="bg-gradient">
    <section>
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/nav2.jpg" class="d-block w-100" alt="Blocks" style="z-index: 1;">
          </div>
        </div>
      </div>
    </section>
        
    <section class="search-sec" style="z-index: 10;">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-7 col-md-8 col-sm-12 p-0 mx-auto">
                <select class="form-control search-slt" id="exampleFormControlSelect1" (change)="selectFood($event.target.value)">
                  <option selected value="everything">Choose food</option>
                  <option *ngFor="let food of this.uniqueFood" value="{{food}}">{{food}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </section>
        
    <div>
      <div id="startBeers">
        <div class="row col-lg-12" *ngIf="this.myBeer">
          <div *ngFor="let beer of myBeer; let i = index" class="mx-auto">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front mx-auto" [ngStyle]="{'background-color': randomizeCardBodyColor()}">
                  <img src="{{ beer.image_url }}" alt="Beer" style="height: 180px; margin-top: 30%;">
                  <h5 class="fontStyle">{{ beer.name }}</h5>
                </div>
                <div class="flip-card-back">
                  <div style="vertical-align: middle">
                    <div class="text-center"><p style="margin: 0;">Hops:</p>
                      <p *ngFor="let hop of beer.ingredients.hops" style="font-size: 11px; margin: 0;">
                          {{ hop.name }} {{ hop.amount.unit }} {{ hop.amount.value }} {{ hop.attribute }} {{ hop.add }}
                      </p>
                    </div>
                    <div class="text-center"><p style="margin: 0;">Malt:</p>
                      <p *ngFor="let malt of beer.ingredients.malt" style="font-size: 11px; margin: 0;">
                          {{ malt.name }} {{ malt.amount.unit }} {{ malt.amount.value }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
        
      <div id="selectFood">
        <div *ngIf="isSelectFood" >
          <div class="row" *ngIf="this.matchingBeer">
            <div *ngFor="let beer of matchingBeer; let i = index" class="mx-auto">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front mx-auto" [ngStyle]="{'background-color': randomizeCardBodyColor()}">
                    <img src="{{ beer.image_url }}" alt="Beer" style="height: 180px; margin-top: 30%;">
                    <h5 class="fontStyle">{{ beer.name }}</h5>
                  </div>
                  <div class="flip-card-back">
                    <div class="text-center"><p style="margin: 0;">Hops:</p>
                      <p *ngFor="let hop of beer.ingredients.hops" style="font-size: 11px; margin: 0;">
                          {{ hop.name }} {{ hop.amount.unit }} {{ hop.amount.value }} {{ hop.attribute }} {{ hop.add }}
                      </p>
                    </div>
                    <div class="text-center"><p style="margin: 0;">Malt:</p>
                      <p *ngFor="let malt of beer.ingredients.malt" style="font-size: 11px; margin: 0;">
                          {{ malt.name }} {{ malt.amount.unit }} {{ malt.amount.value }}
                      </p>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
          
      <div class="mx-auto text-center" style="background: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%">
        <ng-container *ngFor="let number of pageNumbers">
          <button class="btn-light btn myButton" (click)="getBeersOfPage(number)"><p>{{number}}</p></button>
        </ng-container>
        <div style="margin-top:5px; color: white;">
          <small>Copyright &copy; Dorota Gil 2019</small>
        </div>
      </div>
    </div>        
  </div>

</body>
</html>
